div.noteBoard {
	position: relative;
	background-color: azure;
    width: 1000px;
    height: 800px;
    border: 1px solid blue;
    z-index: 0;
}

/* 
	yellow	ffff90
	pink	fcc3c9
	blue	49F1F6
	green	caed9d
*/

div.cffff90Note {
	position: absolute;
	background-image: url("../assets/yellowPostit.png");
	width: 297px;
	height: 298px;
}

div.cfcc3c9Note {
	position: absolute;
	background-image: url("../assets/pinkPostit.png");
	width: 297px;
	height: 298px;
}

div.c49F1F6Note {
	position: absolute;
	background-image: url("../assets/bluePostit.png");
	width: 297px;
	height: 298px;
}

div.ccaed9dNote {
	position: absolute;
	background-image: url("../assets/greenPostit.png");
	width: 297px;
	height: 298px;
}

div.menuButton {
	background-color: lightgray;
	position: absolute;
	width: 20px;
    height: 20px;
	right: 5px;
	top: 5px;
}

div.menu {
    display: none;
    position: absolute;
    height: 30px;
    right: 5px;
    top: 25px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}

div.menuItem {
	height: 20px;
	padding: 0px 0px;
	display: inline-block;
}

/* colour select boxes */

div.cffff90Box {
	display: inline-block;
	width: 30px;
	height: 30px;
	background-color: #ffff90;
}

div.cfcc3c9Box {
	display: inline-block;
	width: 30px;
	height: 30px;
	background-color: #fcc3c9;
}

div.c49F1F6Box {
	display: inline-block;
	width: 30px;
	height: 30px;
	background-color: #49F1F6;
}

div.ccaed9dBox {
	display: inline-block;
	width: 30px;
	height: 30px;
	background-color: #caed9d;
}

textarea.edNote {
	width: 100%;
	height: 100%;
	background: transparent;
	border-style: none;
	border-width: 0px;
	padding: 0px;
	resize: none;
	font-size: 20pt;
}